# To learn more about .editorconfig see https://aka.ms/editorconfigdocs
root = true

# All files
[*]
indent_style = tab

# IDE0063: Use simple 'using' statement
csharp_prefer_simple_using_statement = false:silent

# IDE0057: Use range operator
csharp_style_prefer_range_operator = true:silent

# IDE0066: Convert switch statement to expression
csharp_style_prefer_switch_expression = false:silent

csharp_using_directive_placement = inside_namespace

# IDE0070: Use 'System.HashCode'. It only exists in .NET Core, so I don't want this hint as long as I'm targeting .NET Framework too.
dotnet_diagnostic.IDE0070.severity = silent

# IDE0056: Use index operator. Only supported in .NET Core.
csharp_style_prefer_index_operator = false:silent
